* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.header, .footer {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 25px 0;
}
.main {
	background-color: rgba(255, 255, 255, 0.12);
}
.row, .menu, .nav {
	display: flex;
}
.coll-md-3 {
	width: 25%;
}
.coll-md-4 {
	width: 33%;
}
.coll-md-6 {
	width: 50%;
}
.coll-md-8 {
	width: 66%;
}
.coll-md-9 {
	width: 75%;
}
.menu > li {
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}
.menu > li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu > li > a {
	text-decoration: none;
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
	font-weight: 300;
}
.menu > li:hover > a {
	background-color: #2c71b8;
	color: white;
}
.menu > li:hover > .arrow-down {
	background-image: url(images/errow-down.png);
	background-repeat: no-repeat;
	background-position: 113px 23px;
}
.submenu {
	position: absolute;
	display: none;
	left: -1px;
}
.submenu > li {
	width: 200%;
}
.menu > li:hover .submenu {
	display: block;
	z-index: 9999;
}
.submenu > li > a {
	text-decoration: none;
	display: block;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #2c71b8;
	font-weight: 300;
	padding-left: 43px;
}
.submenu > li > a:hover {
	background-color: white;
	color: #2c71b8;
}
.input-serch {
	
	border: none;
	background-color: rgba(255, 255, 255, 0);
	width: 160px;
	height: 40px;
    position: absolute;
    top: -1px;
    left: 14px;
    font-weight: 300;
}
.input-serch::-webkit-input-placeholder {
	color: #2c71b8;
	font-weight: 300;
}
.input-serch:focus, input[type="button"]:focus { 
	outline: none; 
}
input[type="button"] {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #2c71b8;
	border: none;
	width: 30px;
	height: 30px;
	margin: 4px 5px 5px 163px;
}
.search {
	width: 200px;
	height: 40px;
	border: 1px solid #2c71b8;
	margin-left: 30px;
	position: relative;
}
.cart {
	background-image: url(images/cart.png);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: center;
	width: 40px;
	height: 40px;
	margin-left: 31px;
	position: relative;
}
.products-count {
	width: 20px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 20px;
	background-color: #2c71b8;
	border: 1px solid #2c71b8;
	border-radius: 50px;
	position: absolute;
	top: -9px;
    left: -9px;
}
.slick div {
	margin: 0 auto;
	color: white;
	font-size: 50px;
	padding: 40px 0;
	position: relative;
}
.slick div img {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
.slick-dots li button::before {
	width: 10px;
    height: 10px;
    border: 2px solid white;
    content: '';
}
.slick-dots li.slick-active button:before {
	background-color: white;
}
.slick-next:before {
	background-image: url(images/arrow-point-to-right.png);
}
.device {
	background-color: rgba(255, 255, 255, 0.25);
	border-right: 1px solid white;
	width: 270px;
	padding: 30px;
}
.checkbox {
	margin-bottom: 65px;
}
.checkbox > li > p {
	padding: 20px 17px;
}
label {
	position: relative;
}
label:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	position: absolute;
	top: 12px;
	left: 0;
}
input[type="checkbox"]:checked + label:before {
	background-color: white;
}
input[type="checkbox"] {
	display: none;
}
.nav {
	margin-top: 30px;
}
.nav > li > a {
	text-decoration: none;
	text-align: center;
	color: #96b8dc;
	font-weight: 300;
	margin: 0 10px 0 0;
    font-size: 15px;
}
.nav > li:last-child {
	text-decoration: underline;
}
.h1 {
	color: white;
	font-weight: 700;
	font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 104%;
}
.select {
	width: 270px;
    height: 40px;
	border: 1px solid white;
	color: white;
	font-weight: 300;
	background-color: #2c71b8;
	margin-top: 15px;
	padding-left: 20px;
}
.select:focus {
	outline: none; 
}
.select > option {
	 height: 40px;
}
.tv {
	border: 1px solid white;
	width: 270px;
	margin: 30px 30px 30px 0;
	background-color: rgba(44, 113, 184, 0.75);
}
.img {
	background-color: rgba(255, 255, 255, 0.75);
	height: 180px;
	padding: 40px 85px;
	position: relative;
}
.square, .heart {
	background-image: url(images/icon8.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.heart {
	background-image: url(images/icon5.png);
	top: 40px;
}
.square:hover, .heart:hover {
	background-color: #2c71b8;
	background-image: url(images/icon6.png);
}
.heart:hover {
	background-image: url(images/icon7.png);
}
.liked {
	background-color: #2c71b8;
	background-image: url(images/icon7.png);
}
p {
	color: white;
	font-weight: 300;
	padding: 10px 37px;
}
.h2 {
	font-weight: 700;
	font-size: 22px;
}
.h3 {
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
}
.sup {
	vertical-align: super;
	font-size: 30px;
}
.price {
	font-weight: 700;
	font-size: 50px;
	margin: 0px 20px;
}
.btn-primary, .btn-secondary, .btn-submit {
	display: block;
	text-decoration: none;
	margin: 10px 30px;
	width: 210px;
	height: 50px;
	color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(44, 113, 184, 0.75);
    border: 1px solid white;
    padding:20px 40px;
}
.btn-secondary {
	background-image: url(images/cart2.png); 
	background-repeat: no-repeat;
	background-position: 150px;
	margin-bottom: 30px;
}
.btn-submit {
	margin: 0;
}
.btn-primary:hover, .btn-secondary:hover, .btn-submit:hover {
	background-color: rgba(255, 255, 255, 0.25)
}
.product-quantity {
	margin: 10px 27px;
}
.product-quantity-input{
	text-align: center;
	width: 116px;
	height: 50px;
	margin: 0;
}
.decrement-button, .increment-button {
	margin: 0;
	width: 45px;
	height: 50px;
}
.text {
	color: #2c71b8;
	text-align: center;
}